# Used to build the backend API
fastapi

# Used to call the AI model through the API
openai

# Used to read text from PDF files
pypdf

# Used to load values from the .env file
python-dotenv

# Used to support file uploads in FastAPI
python-multipart

# Used to run the FastAPI server
uvicorn

# Embeddings + Vector Search
sentence-transformers
faiss-cpu
numpy